<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title> :: About | Almamzar decor cont. LLC ::</title>
<meta name="description" content="Welcome to  Almamzar decor cont. LLC">
<meta name="keywords" content="interior, design, services, expert, analysis, structure, luxury, home, kitchen, berdroom, living room, bathroom, kid, office, infrastructure">
<meta name="author" content="Jedidiah Jeyaraj">


<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font Code -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link href="{{ base_url() }}\public\main\css\bootstrap.min.css" rel="stylesheet" media="screen">
<link href="{{ base_url() }}\public\main\fonts\font-awesome\css\font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\animate.min.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\prettyPhoto.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\jquery.datetimepicker.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\bxslider.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\color.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\style.css">

<script src="{{ base_url() }}\public\main\js\modernizr.custom.js"></script>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicon and Apple Icons -->
<link rel="shortcut icon" href="{{ base_url() }}\public\main\images\icons\favicon.ico">
<link rel="apple-touch-icon" href="{{ base_url() }}\public\main\images\icons\apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ base_url() }}\public\main\images\icons\apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ base_url() }}\public\main\images\icons\apple-touch-icon-114x114.png">
</head>

<body id="top" onload="initialize()" class="inner">
<div id="preloader">
	<img src="{{ base_url() }}\public\main\images\Preloader.gif" alt="Preloader">
</div>

<!-- ::: START HEADER ::: -->
{% include 'partials/topnav.twig' %}
  <!-- Header top end -->

<!-- ::: END ::: -->

<!--  :::  BREADCRUMBS ::: -->
<section class="breadcrumbs breadcrumbs2 about wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
  <div class="boxedeb">
    <div class="container page-block-small">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <h2>About Us</h2>
          <span class="line"></span>
        <div class="rightText">
            <a href="{{ path_for('index_page') }}" title="Home">Home</a> / About Us
        </div>
      </div>
    </div><!--end-container-->
  </div>
</section>
<!-- ::: END ::: -->

<!--  :::  ABOUT ::: -->
<section class="page-block-large">
  <div class="container">
      <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
      		<img class="img-responsive" src="{{ base_url() }}\public\main\images\about.jpg" alt="About Striking" width="725" height="475">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
		  	<br /><br />
            <p class="big" style="font-weight:bold">Al mamzar décor cont. LLC – established in the year 2004, provides total Interior Fit-Out Solutions and Facility Management Services. The principal activities undertaken by Al mamzar are Design and Build turkey solutions and Measured Term contracts.</p>
            <hr>
           <p style="font-weight:bold">Our service integrates design, realistic costing, construction and construction management with Quality & Safety goals. We help our clients in the process of decision-making where ultimately the client’s concerns are satisfied and the clients are comfortable in signing a fixed price contract.</p>


      </div>
	</div><!--end-container-->
	<br />
	<div class="container">
		<div class="col-md-12 col-sm-12 col-xs-12 content-box wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
			<p style="font-weight:bold">Our Service is based on wide professional knowledge and experience which focuses on the client’s interest and objectives, with a commitment to the budget and the programme schedule. Alterations during the course of a project are inevitable and Al mamzar adopts a positive approach to such changes by pro-actively ensuring minimum disruption to the program and budget.</p>

			<p style="font-weight:bold">
				Al mamzar staff have  carried out a broad range of successful project of all sizes. Many repeat orders from our satisfied clients demonstrates not only our excellent standard of workmanship but also a professional commitment to service standards and reliability.
			</p>
			<p style="font-weight:bold">
				The management approach is to cultivate a close and trusting relationship with clients and members of the project team. We recognize that the project  success is the joint and mutual responsibility of everyone involved in the project.
			</p>
			<p style="font-weight:bold">
				The goal of our company is customer satisfaction and improvement in business efficiency. Every member of the staff is involved and responsible for achieving this goal. Performance is constantly monitored for the continuous improvement of the service provided.
			</p>
		</div>
	</div>
</section>
<!-- ::: END ::: -->

<!--  :::  ABOUT ::: -->

<!-- ::: END ::: -->

<!--  :::  STATISTICS ::: -->

<!--  :::  TEAM ::: -->

<!-- ::: END ::: -->

<!--  :::  CLIENTS ::: -->
{% include 'partials/rollclient.twig' %}
<!-- ::: END ::: -->

<!--  :::  CALL TO ACTION BOX ::: -->
{% include 'partials/getaquote.twig' %}
<!-- ::: END ::: -->

<!--  :::  FOOTER ::: -->
{% include 'partials/footer.twig' %}

<!-- ::: END ::: -->
<a href="#top" class="top"><i class="fa fa-angle-up fa-lg"></i></a>

<!--START SCRIPTS -->
<script src="{{ base_url() }}\public\main\js\jquery.min.js"></script>
<script src="{{ base_url() }}\public\main\js\imagesloaded.pkgd.min.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery-ui.min.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.ui.touch-punch.min.js"></script>
<script src="{{ base_url() }}\public\main\js\isotope.pkgd.min.js"></script>
<script src="{{ base_url() }}\public\main\js\bootstrap.min.js"></script>
<script src="{{ base_url() }}\public\main\js\classie.js"></script>
<script src="{{ base_url() }}\public\main\js\waypoints.min.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.countTo.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.prettyPhoto.js"></script>
<script src="{{ base_url() }}\public\main\js\wow.min.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.datetimepicker.js"></script>
<script src="{{ base_url() }}\public\main\js\placeholders.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.bxslider.min.js"></script>
<script src="{{ base_url() }}\public\main\js\owl.carousel.min.js"></script>
<script src="{{ base_url() }}\public\main\js\custom.js"></script>
<script src="{{ base_url() }}\public\main\js\master.js"></script>

</body>
</html>
