<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>:: Clients | Almamzar decor cont. LLC ::</title>
        <meta name="description" content="Welcome to  Almamzar decor cont. LLC">
        <meta name="keywords" content="interior, design, services, expert, analysis, structure, luxury, home, kitchen, berdroom, living room, bathroom, kid, office, infrastructure">
        <meta name="author" content="Jedidiah Jeyaraj">

        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Google Font Code -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

        <!-- Stylesheets -->
        <link href="{{ base_url() }}\public\main\css\bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ base_url() }}\public\main\fonts\font-awesome\css\font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ base_url() }}\public\main\css\animate.min.css">
        <link rel="stylesheet" href="{{ base_url() }}\public\main\css\prettyPhoto.css">
        <link rel="stylesheet" href="{{ base_url() }}\public\main\css\jquery.datetimepicker.css">
        <link rel="stylesheet" href="{{ base_url() }}\public\main\css\bxslider.css">
        <link rel="stylesheet" href="{{ base_url() }}\public\main\css\color.css">
        <link rel="stylesheet" href="{{ base_url() }}\public\main\css\style.css">

        <script src="{{ base_url() }}\public\main\js\modernizr.custom.js"></script>
        <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
        <!-- Favicon and Apple Icons -->
        <link rel="shortcut icon" href="{{ base_url() }}\public\main\images\icons\favicon.ico">
        <link rel="apple-touch-icon" href="{{ base_url() }}\public\main\images\icons\apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url() }}\public\main\images\icons\apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url() }}\public\main\images\icons\apple-touch-icon-114x114.png">
    </head>

    <body id="top" onload="initialize()" class="inner">
        <div id="preloader">
            <img src="{{ base_url() }}\public\main\images\Preloader.gif" alt="Preloader">
        </div>

        <!-- ::: START HEADER ::: -->
        {% include 'partials/topnav.twig' %}
        <!-- ::: END ::: -->

        <!--  :::  BREADCRUMBS ::: -->
        <section class="breadcrumbs breadcrumbs2 clients wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
            <div class="boxedeb">
                <div class="container page-block-small">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>Clients</h2>
                        <span class="line"></span>
                        <div class="rightText">
                            <a href="{{ path_for('index_page') }}" title="Home">Home</a>
                            / Clients
                        </div>
                    </div>
                </div>
                <!--end-container-->
            </div>
        </section>
        <!-- ::: END ::: -->

        <!--  :::  CLIENTS ::: -->
        <section class="page-block-large">
            <div class="container wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s" style="padding-left:5%">
                <table class="table table-bordered">
					<tr>
						<td colspan="4" style="text-align: center; font-weight:bold; font-size:20px">
							DUBAI & NORTHERN EMIRATES
						</td>
					</tr>
                    <tr>
                        <td>
                            INTERNATIONAL CENTRE FOR CULINARY ARTS, DUBAI
                        </td>
                        <td>
                            BARJEEL GEOJIT SECURITIES LLC, DUBAI
                        </td>
                        <td>
                            THEODOR WILLE INTERTRADE (TWI), DUBAI
                        </td>
                        <td>
                            SHARJAH INVESTMENT & DEVELOPMENT AUTHORITY (SHUROOQ)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            KALIMAT BOOKSHOP & OFFICE, SHARJAH
                        </td>
                        <td>
                            MARAYA ART CENTER, SHARJAH
                        </td>
                        <td>
                            SENSATION CLUB, CROWN PLAZA, DUBAI
                        </td>
                        <td>
                            AL RAZOUKI INTERNATIONAL EXCHANGE
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MORISON MENON CHARTERED ACCOUNTANTS
                        </td>
                        <td>
                            HORWATH MAK - BUSINESS BAY, DUBAI
                        </td>
                        <td>
                            CHANNEL-4 FM, AJMAN INDEPENDANT STUDIOS
                        </td>
                        <td>
                            JOYALUKKAS JWELLERS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SUMAIA SADOON JWELLERS, HILTON HOTEL, SHARJAH
                        </td>
                        <td>
                            AL MASAH CAPITAL MANAGEMENT LIMITED
                        </td>
                        <td>
                            HIGHER COLLEGES OF TECHNOLOGY
                        </td>
                        <td>
                            WEATHERFORD, DUBAI
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WEISS ROHLIG, DUBAI
                        </td>
                        <td>
                            PRISMIAN CABLES & SYSTEMS, DUBAI
                        </td>
                        <td>
                            SAUDI CABLE COMPANY
                        </td>
                        <td>
                            OBAK OILFIELD SERVICES, JLT, DUBAI
                        </td>
                    </tr>
                    <tr>
                        <td>
                            DFSA, ENFORCEMENT ROOM, DUBAI
                        </td>
                        <td>
                            EPROMISE - DIGITECH, DUBAI
                        </td>
                        <td>
                            COPART AUCTION HOUSE, DUBAI
                        </td>
                        <td>
                            EDUSCOPE - HEALTH CITY, DUBAI
                        </td>
                    </tr>
                    <tr>
                        <td>
                            DEIRA CITY CENTER METRO LINK BRIDGE PHASE II & III
                        </td>
                        <td>
                            HENKEL OFFICE, SILICON OASIS, DUBAI
                        </td>
                        <td>
                            OREGANO ITALIAN RESTAURANT, DUBAI
                        </td>
                        <td>
                            SPEEDEX COURIER, DUBAI
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HSBC, JAFZA, CSU, DUBAI
                        </td>
                        <td>
                            JEBEL ALI SHOOTING CLUB, DUBAI
                        </td>
                        <td>
                            DUTCO HOUSE - IT OFFICE, DUBAI
                        </td>
                        <td>
                            ESSAR & ASSOCIATES CHARTERED ACCOUNTANTS, DUBAI
                        </td>
                    </tr>
                    <tr>
                        <td>
                            DUNES APARTMENTS - MAXIMUS INTL., DUBAI
                        </td>
                        <td>
                            APRICOT BLDG. RECEPTION - MAXIMUS INTL., DUBAI
                        </td>
                        <td>
                            STRATEGIC GROUP OF COMPANIES, SILICON OASIS, DUBAI
                        </td>
                        <td>
                            AL GURAIR CITY - APARTMENTS, DUBAI
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SHERLOCK HOUSE APARTMENTS, MOTOR CITY, DUBAI
                        </td>
                        <td>
                            EXECUJET, AIRPORT FREE ZONE, DUBAI
                        </td>
                        <td>
                            MARINA MALL, DUBAI
                        </td>
                        <td>
                            SHORELINE APTS. - THE PALM JUMEIRAH, DUBAI
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JUMEIRAH BEACH RESIDENCE, DUBAI
                        </td>
                        <td>
                            PLANTERS HORTICULTURE L.L.C., DUBAI
                        </td>
                        <td>
                            AMERICAN ACADEMY, DUBAI
                        </td>
                        <td>
                            ARABIAN OASIS, DUBAI
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LOUIS DREYFUS COMMODITIES ME, DUBAI
                        </td>
                        <td>
                            KARCHER TRADING, DUBAI
                        </td>
                        <td>
                            THE BABY SHOP, SHARJAH
                        </td>
                        <td>
                            PRIVATE VILLAS IN DUBAI & SHARJAH
                        </td>
                    </tr>
                </table>
            </div>
			<div class="container wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s" style="padding-left:5%">
				<table class="table table-bordered">
					<tr>
						<td colspan="4" style="text-align: center; font-weight:bold; font-size:20px">
							ABU DHABI
						</td>
					</tr>
                    <tr>
                        <td>
                            CAFE FIRENZE,  AL RAHA, ABU DHABI
                        </td>
                        <td>
                            PREMIUM  LOUNGE - AIRPORT, ABU DHABI
                        </td>
                        <td>
                            AL GHAZAL V.I.P. LOUNGE - AIRPORT, ABU DHABI
                        </td>
                        <td>
                            DUTY FREE SHOPS - AIRPORT, ABU DHABI
                        </td>
                    </tr>
					<tr>
                        <td>
                            NEW YORK UNIVERSITY, ABU DHABI
                        </td>
                        <td>
                            BASSAM APARTMENTS,  ABU DHABI
                        </td>
                        <td>
                            UNION NATIONAL BANK, KHALIFA CITY, ABU DHABI
                        </td>
                        <td>
                            TWOFOUR54 BUILDINGS, MEDIA CITY, ABU DHABI
                        </td>
                    </tr>

				</table>
			</div>
            <!-- end container -->
        </section>
        <!-- ::: END ::: -->

        <!--  :::  CALL TO ACTION BOX ::: -->

        <!--  :::  CALL TO ACTION BOX ::: -->
        {% include 'partials/getaquote.twig' %}
        <!-- ::: END ::: -->

        <!--  :::  FOOTER ::: -->
        {% include 'partials/footer.twig' %}
        <!-- ::: END ::: -->
        <a href="#top" class="top">
            <i class="fa fa-angle-up fa-lg"></i>
        </a>

        <!--START SCRIPTS -->
        <script src="{{ base_url() }}\public\main\js\jquery.min.js"></script>
        <script src="{{ base_url() }}\public\main\js\imagesloaded.pkgd.min.js"></script>
        <script src="{{ base_url() }}\public\main\js\jquery-ui.min.js"></script>
        <script src="{{ base_url() }}\public\main\js\jquery.ui.touch-punch.min.js"></script>
        <script src="{{ base_url() }}\public\main\js\isotope.pkgd.min.js"></script>
        <script src="{{ base_url() }}\public\main\js\bootstrap.min.js"></script>
        <script src="{{ base_url() }}\public\main\js\classie.js"></script>
        <script src="{{ base_url() }}\public\main\js\waypoints.min.js"></script>
        <script src="{{ base_url() }}\public\main\js\jquery.countTo.js"></script>
        <script src="{{ base_url() }}\public\main\js\jquery.prettyPhoto.js"></script>
        <script src="{{ base_url() }}\public\main\js\wow.min.js"></script>
        <script src="{{ base_url() }}\public\main\js\jquery.datetimepicker.js"></script>
        <script src="{{ base_url() }}\public\main\js\placeholders.js"></script>
        <script src="{{ base_url() }}\public\main\js\jquery.bxslider.min.js"></script>
        <script src="{{ base_url() }}\public\main\js\custom.js"></script>
        <script src="{{ base_url() }}\public\main\js\master.js"></script>

    </body>
</html>
