<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>:: Almamzar decor cont. LLC ::</title>
<meta name="description" content="Welcome to  Almamzar decor cont. LLC">
<meta name="keywords" content="interior, design, services, expert, analysis, structure, luxury, home, kitchen, berdroom, living room, bathroom, kid, office, infrastructure">
<meta name="author" content="Jedidiah Jeyaraj">

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font Code -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link href="{{ base_url() }}\public\main\css\bootstrap.min.css" rel="stylesheet" media="screen">
<link href="{{ base_url() }}\public\main\fonts\font-awesome\css\font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\animate.min.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\prettyPhoto.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\jquery.datetimepicker.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\bxslider.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\owl.carousel.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\color.css">
<link rel="stylesheet" href="{{ base_url() }}\public\main\css\style.css">

<script src="{{ base_url() }}\public\main\js\modernizr.custom.js"></script>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicon and Apple Icons -->
<link rel="shortcut icon" href="{{ base_url() }}\public\main\images\icons\favicon.ico">
<link rel="apple-touch-icon" href="{{ base_url() }}\public\main\images\icons\apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ base_url() }}\public\main\images\icons\apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ base_url() }}\public\main\images\icons\apple-touch-icon-114x114.png">
</head>

<body id="top" onload="initialize()">
<div id="preloader">
	<img src="{{ base_url() }}\public\main\images\Preloader.gif" alt="Preloader">
</div>

<!-- ::: TOPBAR & TOP NAV BAR ::: -->

{% include 'partials/topnav.twig' %}

<!-- ::: END ::: -->

<!--  :::  HOME SLIDER ::: -->
<section id="slides" class="BGdark slides2" >
    <ul class="bxslider" >
      <li >
      	<img class="img-responsive" src="{{ base_url() }}\public\main\images\slider\slide1.jpg" alt="" style="opacity:1">
        <div class="symbol" >
            <div class="absShape text-center" >
                <h1 >Al mamzar dècor cont. LLC<small>Welcome to creative world!</small></h1>
            </div>
        </div>
      </li>
      <li>
      	<img class="img-responsive" src="{{ base_url() }}\public\main\images\slider\slide2.jpg" alt="" style="opacity:1">
        <div class="symbol">
            <div class="absShape text-center">
                <h1>Al mamzar dècor cont. LLC<small>Welcome to creative world!</small></h1>
            </div>
        </div>
      </li>
      <li>
      	<img class="img-responsive" src="{{ base_url() }}\public\main\images\slider\slide3.jpg" alt="" style="opacity:1">
        <div class="symbol">
            <div class="absShape text-center">
                 <h1 style="color:black">Al mamzar dècor cont. LLC<small style="color:black">Welcome to creative world!</small></h1>
            </div>
        </div>
      </li>
    </ul>
</section>
<!-- ::: END ::: -->

<!--  :::  SPECIALITY ::: -->
<section class="page-block-large">
  <div class="container">

      <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
      	<h3><small>Exclusive</small> DESIGNS</h3><span class="line"></span>

      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.75s">
      	<h3><small>Wide Range</small> VARIETIES</h3><span class="line"></span>

      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="1s">
      	<h3><small>Premium</small> FEATURES</h3><span class="line"></span>

      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="1.25s">
      	<h3><small>Industry</small> EXPERTS</h3><span class="line"></span>

      </div>

  </div><!-- end container -->
</section>
<!-- ::: END ::: -->

<!--  :::  ABOUT ::: -->
<section class="BGlight page-block-large">
  <div class="container">

    <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
      <div class="section-heading">
          <h2><i class="fa fa-building square BGsec"></i>About Us <small>Who are we</small></h2>
          <div class="clear"></div>
      </div>
      <p>Al mamzar décor cont. LLC – established in the year 2004, provides total Interior Fit-Out Solutions and Facility Management Services. The principal activities undertaken by Al mamzar are Design and Build turkey solutions and Measured Term contracts.</p>

<p>Our service integrates design, realistic costing, construction and construction management with Quality & Safety goals. We help our clients in the process of decision-making where ultimately the client’s concerns are satisfied and the clients are comfortable in signing a fixed price contract.</p>

        <a class="btn btn-primary" href="{{ path_for('about_page') }}" title="About">Read More <i class="fa fa-chevron-circle-right"></i></a>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
      <div class="section-heading">
        <h2><i class="fa fa-star square BGsec"></i>Why Almamzar decor cont. LLC <small>Why choose us</small></h2>
        <div class="clear"></div>
      </div>
      <ul class="list-main">
        <li>
            <h5>We have highly professional team</h5>
			<br /><br />
            <!-- Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli -->
        </li>
        <li>
            <h5>We are commited</h5>
			<br /><br />
			<!-- Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli -->
        </li>
        <li>
            <h5>We deliver best results</h5>
			<br /><br />
			<!-- Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli -->
        </li>
      </ul>
    </div>

  </div><!-- end container -->
</section>
<!-- ::: END ::: -->

<!--  :::  TESTIMONIALS ::: -->
<section class=" page-block-large">
	<div class="container">

    	<div class="row">
        	<div class="text-center wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
            	<h1 class="big">Services</h1>
            	<div class="headingIcon"><i class="fa fa-star fa-4x square BGprime"></i></div>
            </div>
            <div class="col-sm-6 col-xs-12 info-block wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.75s">
            	<h3><b class="squareSmall BGsec">1</b> Ceilings</h3>
                <p>
					<ul>
						<li>
							Regular & Moisture Resistant
						</li>
						<li>
							60cm x 60cm Ceiling
						</li>
						<li>
							Metallic Ceiling
						</li>
						<li>
							Timber Decorative Ceiling
						</li>
					</ul>
				</p>
            </div>
            <div class="col-sm-6 col-xs-12 info-block wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.75s">
            	<h3><b class="squareSmall BGsec">2</b> Partitions</h3>
                <p>
					<ul>
						<li>
							Normal Gypsum Board Partition
						</li>
						<li>
							Fire Rated Gypsum Partition
						</li>
						<li>
							De-mountable Partition
						</li>
						<li>
							Glazed Partition
						</li>
					</ul>
				</p>
            </div>
            <div class="col-sm-6 col-xs-12 info-block wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="1s">
            	<h3><b class="squareSmall BGsec">3</b> Flooring</h3>
                <p>
					<ul>
						<li>
							Venyl Flooring
						</li>
						<li>
						Parquet Flooring
						</li>
						<li>
							Marble & Granite Flooring
						</li>
						<li>
							Tile Flooring
						</li>
					</ul>
				</p>
            </div>
            <div class="col-sm-6 col-xs-12 info-block wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="1s">
            	<h3><b class="squareSmall BGsec">4</b> Joinery</h3>
                <p>
					<ul>
						<li>
							Wall Panelling
						</li>
						<li>
							Panel, Doors
						</li>
						<li>
						Flush Doors
						</li>
						<li>
						Kitchen Cabinets, Wardrobes
						</li>
					</ul>
				</p>
            </div>
            <div class="clear"></div><div class="gapM"></div>
            <div class="col-md-12 text-center wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
            	<a class="btn btn-primary" href="{{ path_for('services') }}" title="View All">View All <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- ::: END ::: -->



<!--  :::  FEATURED BOX ::: -->
<section class="BGlight page-block-small">
  <div class="container wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
    <div class="col-md-12">
      	<div class="section-heading zeroM">
            <h2><i class="fa fa-paint-brush square BGsec"></i>Latest Projects <small>Recently Completed Projects</small></h2>
            <a class="btn btn-primary" href="{{ path_for('gallery') }}" title="Latest Project">View All Projects <i class="fa fa-chevron-circle-right"></i></a>
            <div class="clear"></div>
        </div>
    </div>
  </div><!--end-container-->
</section>
<!-- ::: END ::: -->

<!--  :::  RECENT PROJECTS ::: -->
<section id="owl-recent-project" class="owl-carousel owl-theme BGlight">
  <!-- Item Start -->
  {% for img in imgs %}
  <div class="item" style="width: 400px; height:250px">
  	<div class="img" >
    	<img class="img-responsive" src="images/{{img.project_no}}/{{img.img_name}}"  width="400" height="250" alt="Project Name">
    </div>
    <div class="project-data">

    			<h4>Project Name: {{img.name}}</h4>
      <!-- <ul>
          <li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure</li>
          <li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
          <li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
      </ul> -->
      <!-- <a class="btn btn-dark btn-sm" href="portfolio1.htm" title="View Details">View Details<i class="fa fa-chevron-circle-right"></i></a> -->
    </div>
  </div>
  {% endfor %}

  <!-- Item Start -->

</section>
<!-- ::: END ::: -->



<!--  :::  CLIENTS ::: -->
{% include 'partials/rollclient.twig' %}
<!-- ::: END ::: -->

<!--  :::  CALL TO ACTION BOX ::: -->
{% include 'partials/getaquote.twig' %}
<!-- ::: END ::: -->

<!--  :::  FOOTER ::: -->
{% include 'partials/footer.twig' %}
<!-- ::: END ::: -->
<a href="#top" class="top"><i class="fa fa-angle-up fa-lg"></i></a>

<!--START SCRIPTS -->
<script src="{{ base_url() }}\public\main\js\jquery.min.js"></script>
<script src="{{ base_url() }}\public\main\js\imagesloaded.pkgd.min.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery-ui.min.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.ui.touch-punch.min.js"></script>
<script src="{{ base_url() }}\public\main\js\isotope.pkgd.min.js"></script>
<script src="{{ base_url() }}\public\main\js\bootstrap.min.js"></script>
<script src="{{ base_url() }}\public\main\js\classie.js"></script>
<script src="{{ base_url() }}\public\main\js\waypoints.min.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.countTo.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.prettyPhoto.js"></script>
<script src="{{ base_url() }}\public\main\js\wow.min.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.datetimepicker.js"></script>
<script src="{{ base_url() }}\public\main\js\placeholders.js"></script>
<script src="{{ base_url() }}\public\main\js\jquery.bxslider.min.js"></script>
<script src="{{ base_url() }}\public\main\js\owl.carousel.min.js"></script>
<script src="{{ base_url() }}\public\main\js\custom.js"></script>
<script src="{{ base_url() }}\public\main\js\master.js"></script>
</body>
</html>
