<footer class="footer2 BGdark page-block-small">
  <div class="container">
    <div class="col-md-4 col-sm-12 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
      <h5>About</h5>
      <p>Al mamzar décor cont. LLC – established in the year 2004, provides total Interior Fit-Out Solutions and Facility Management Services. The principal activities undertaken by Al mamzar are Design and Build turkey solutions and Measured Term contracts.</p>
      <a href="{{ path_for('about_page') }}" title="About Company">Read More <i class="fa fa-chevron-circle-right"></i></a>
    </div><!-- end content box -->

    <div class="col-md-2 col-sm-3 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
      <h5>Quick Links</h5>
      <ul>
      	<li><a href="{{ path_for('services') }}" title="Portfolio">Services</a></li>
      	<li><a href="gallery-full-width.htm" title="Gallery Full Width">Gallery</a></li>
      	<li><a href="{{ path_for('clients') }}" title="Blog">Clients</a></li>
      	<!-- <li><a href="press.htm">Press</a></li> -->
      	<li><a href="{{ path_for('contact') }}" title="Contact">Contact</a></li>
      </ul>
    </div><!-- end content box -->

    <div class="col-md-3 col-sm-5 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
      <h5>Services</h5>
      <ul>
      	<li><a href="{{ path_for('services') }}" title="Ceilings">Ceilings</a></li>
        <li><a href="{{ path_for('services') }}" title="Partitions">Partitions</a></li>
        <li><a href="{{ path_for('services') }}" title="Flooring">Flooring</a></li>
        <li><a href="{{ path_for('services') }}" title="Joinery">Joinery</a></li>
        <li><a href="{{ path_for('services') }}" title="Soft Furnishings">Soft Furnishings</a></li>
      </ul>
    </div><!-- end content box -->

    <div class="col-md-3 col-sm-4 col-xs-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1.25s">
      <h5>Get in touch</h5>
      <div class="office">
        <!-- <span><i class="fa fa-map-marker"></i> 123 Main Street<br>
          Your City, State Country.</span> -->
        <span><i class="fa fa-phone"></i> 06 5743120 <br>04 3537223 </span>
        <span><i class="fa fa-fax"></i> 06 5348542 <br /> 04 3538124</span>
        <span><i class="fa fa-envelope-o"></i> <a href="mailto:almamzar@gmail.com" title="">almamzar@gmail.com</a> </span>
      </div>
    </div><!-- end content box -->

    <div class="clear"></div>
    <hr class="light">

  	<!-- ::: START COPYRIGHT ::: -->
  	<div class="copyright wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s" data-wow-offset="0">
      <div class="col-md-5 col-sm-6 col-xs-12">
        <p><strong>Al mamzar décor cont. LLC</strong> &copy; 2017. All Rights Reserved.<br>Designed &amp; Developed By: <a title="Jedidiah Jeyaraj" target="_blank" href="https://www.facebook.com/jedidiah.jeyaraj"><strong>Jedidiah Jeyaraj</strong></a>|<a title="Ashish Kumar" target="_blank" href="https://www.facebook.com/saurabhprasad123"><strong>Ashish Kumar</strong></a></p>
      </div>
      <!-- <div class="col-md-7 col-sm-6 col-xs-12 text-right">
        <ul class="list-inline">
            <li><a href="terms.htm" title="Terms & Conditions">Terms &amp; Conditions</a></li>
            <li><a href="privacy.htm" title="Privacy Policy">Privacy Policy</a></li>
            <li><a href="sitemap.htm" title="Sitemap">Sitemap</a></li>
        </ul>
      </div> -->
    </div><!-- end container -->
  </div><!-- end copyright -->

</footer>
