<header id="home" class="cbp-af-header header2">
  <div class="header-top BGdark" style="height:50px">
    <div class="container">
      <div class="col-md-8 col-sm-12 col-xs-12" >
        <span style="font-size:18px" ><i class="fa fa-phone"></i> 04 3537223 | 06 5743120 </span>
        <span style="font-size:18px"><i class="fa fa-fax"></i> 06 5348542 | 04 3538124</span>
        <span style="font-size:18px"><i class="fa fa-envelope-o"></i> <a href="mailto:almamzar@gmail.com" title="">almamzar@gmail.com</a> </span>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs">
        <ul class="social list-inline pull-right">
          <li style="font-size:18px"><a class="fb" href="www.facebook.com/almamzardecor" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
          <!-- <li><a class="tw" href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a class="yt" href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
          <li><a class="pt" href="#" title="Watch Our Videos"><i class="fa fa-pinterest"></i></a></li>
          <li><a class="li" href="#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="fl" href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
          <li><a class="gplus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="ig" href="#" title="Watch Our Gallery"><i class="fa fa-instagram"></i></a></li>
          <li><a class="vk" href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li> -->
        </ul>
      </div>
    </div>
  </div>
<div class="container">
  <div class="col-md-3 col-sm-3 col-xs-12 logo">
      <a title="company Logo" href="{{ path_for('index_page') }}" ><img class="img-responsive" src="{{ base_url() }}\public\main\images\logo.png" width="230" height="100" alt="Company Logo" style="padding-top:10px"></a>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-12 cbp-af-inner rightnav">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="menu">

        <!-- ::: Main Nav ::: -->
         <ul class="nav navbar-nav" >
            <li class=""><a href="{{ path_for('index_page') }}" title="Home" style="font-weight: bold;">Home</a></li>
            <li class=""><a href="{{ path_for('about_page') }}" title="About" style="font-weight: bold;">About</a></li>
            <li><a href="{{ path_for('services') }}" title="Service" style="font-weight: bold;">Services</a></li>
            <li><a href="{{ path_for('clients') }}" title="Clients" style="font-weight: bold;">Clients</a></li>
            <li><a href="{{ path_for('gallery') }}" title="Gallery" style="font-weight: bold;">Gallery</a></li>
            <li class=""><a href="{{ path_for('contact') }}" title="Contact" style="font-weight: bold;">Contact</a></li>

          </ul>
          <!-- ::: Main Nav ::: -->

      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
</div>
</header>
